  body {
    background-color: SkyBlue;
    margin-left: 20px;
    margin-right: 20px;
    margain-bottom: 20 px;
  }

  button {
    background-color:black;
    border: none;
    color:white;
    font-family:Arial, sans-serif;
    text-transform: uppercase;
    padding: 1em 2em 1em 2em;
  }

  .padding-hover:hover {
    background-color: GhostWhite;
    color:white;
    text-decoration:underline;
}

  .container {
    background-image: url(../img/koi.jpg);
    background-size: cover;
    height:600px;
    margin: 0 auto;
    width:50%;
}


  @media screen and (max-width: 1000px) {
    body {
      background-color: LightSalmon;
  }
  }

  @media screen and (max-width: 500px) {
    body {
      background-color: MediumSeaGreen;
  }
  }


h1 {
    margin-left: 20px;


}
