  body {
    background-color: SkyBlue;
  }

  button {
    background-color:black;
    border: none;
    color:white;
    font-family:Arial, sans-serif;
    text-transform: uppercase;
    padding: 1em 2em 1em 2em;
  }


  .container {
    background-image: url(C:\Users\kylie\Pictures\Fall 2020\gra-321\code-exercises\img\atsadawut-chaiseeha-uZlA_JmTmC8-unsplash (1).jpg);
    background-size: cover;
    height:600px;
    margin: 0 auto;
    width:50%;

  }
  @media screen and (max-width: 1000px) {
    body {
      background-color: LightSalmon;
  }
  }

  @media screen and (max-width: 500px) {
    body {
      background-color: MediumSeaGreen;
  }
  }

h1 {
    margin-left: 20px;


}
