
.responsive {
  width: 100%;
  height: auto;
}

body {
  background-color: #D9A25F;
  font-size: 30px;
  font-family: arial, helvetica, sans-serif;
  margin-left: 20px;
}




.button1 {
  background-color: #8C5845;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button {
  background-color: #182126;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}


.select-css {
    border: 1px solid #999;
    background-color: #739CBF;
    border-radius: 5px;
    margin-left: 20px;


      }

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:active {
  color: white;
}


.first-container {

  display: flex;
  width: 1800px;

}


.iced-menu {
  display: flex;
  width: 400px;
  margin-left: 10px;
  margin-right: 10px;
}

.iced-drinks {
  display: inline-flex;

}

.prices {
  display: inline-flex;
  width: 5px;
  justify-content: space-around;
  flex-grow: 1;
}

.hot-menu {
  display: flex;
  width: 400px;
  margin-left: 10px;
  margin-right: 10px;
}

.hot-drinks {
  display: inline-flex;
}

.prices2 {
  display: inline-flex;
  width: 12%;
  justify-content: space-around;
  flex-grow: 1;
}

.cold-tea {
  display: flex;
  width: 400px;
  margin-left: 10px;
  margin-right: 10px;
}

.iced-tea {
  display: inline-flex;
}

.prices3 {
  display: inline-flex;
  width: 12%;
  justify-content: space-around;
  flex-grow: 1;
}

.hot-tea {
  display: flex;
  width: 400px;
  margin-left: 10px;
  margin-right: 10px;
}

.hottest-tea {
  display: inline-flex;
}

.prices4 {
  display: inline-flex;
  width: 12%;
  justify-content: space-around;
  flex-grow: 1;
}

.food {
  display: flex;
  width: 400px;
  margin-left: 10px;
  margin-right: 10px;
}

.snacks {
  display: inline-flex;
}

.prices5 {
  display: inline-flex;
  width: 12%;
  justify-content: space-around;
  flex-grow: 1;
}














@media screen and (max-width: 2000px) {



}
}

@media screen and (min-width: 400px) {



}
}
