body {
  background-color: #D9A25F;
  font-size: 17px;
  font-family: arial, helvetica, sans-serif;
  margin-left: 20px;
}


.button1 {
  background-color: #8C5845;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button {
  background-color: #182126;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.select-css {
    border: 1px solid #999;
    background-color: #739CBF;
    border-radius: 5px;
    margin-left: 20px;
      }

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:active {
  color: white;
}

.iced-menu {
  display: flex;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.iced-drinks {
  display: inline-flex;
}

.prices {
  display: inline-flex;
  width: 10%;
  justify-content: space-around;
}

.hot-menu {
  display: flex;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.hot-drinks {
  display: inline-flex;
}

.prices2 {
  display: inline-flex;
  width: 10%;
  justify-content: space-around;
}

.cold-tea {
  display: flex;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.iced-tea {
  display: inline-flex;
}

.prices3 {
  display: inline-flex;
  width: 10%;
  justify-content: space-around;
}

.hot-tea {
  display: flex;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.hottest-tea {
  display: inline-flex;
}

.prices4 {
  display: inline-flex;
  width: 10%;
  justify-content: space-around;
}

.food {
  display: flex;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.snacks {
  display: inline-flex;
}

.prices5 {
  display: inline-flex;
  width: 10%;
  justify-content: space-around;
}



.slider {
    width: 500px;
    height: 300px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
  }
  .image-container {
    width: 1500px;
    background-color: pink;
    height: 300px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }
  .slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  #slide-1:target ~ .image-container {
    left: 0px;
  }
  #slide-2:target ~ .image-container {
    left: -500px;
  }
  #slide-3:target ~ .image-container {
    left: -1000px;
  }
  .buttons {
    position: relative;
    top: -25px;
  }
  .buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: white;
  }
































@media screen and (max-width: 1000px) {

}
}

@media screen and (max-width: 500px) {

}
}
